@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 24px;

}

.container {
    width: 1440px;
    padding: 140px 280px 90px;
    font-family: 'Roboto', sans-serif;

}

.block_1 {
    background: #1F0404;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 70px 215px;
    height: 250px;
    font-size: 2rem;
    text-align: center;

}

.block_2 {
    background: #D9D9D9;
    color: #4F4F4F;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    padding: 47px 75px 47px 104px;
    text-align: justify;
    text-shadow: 7px 7px 1px rgba(41, 36, 9, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 150%;
    word-spacing: 2px;
}

.block_2 div {
    width: 700px;
}

.block_1 div {
    display: flex;
    justify-content: space-between;
}

.green {
    color: rgba(113, 170, 115, 0.70);
}

.red {
    color: rgba(163, 72, 72, 0.60);
}

.blue {
    color: #475587;
}

.blue_1 {
    color: #4B5E8D;
}

.brown {
    color: #4B5E8D;
}

.brown_1 {
    color: rgba(170, 144, 113, 0.40);
}

.purple {
    color: rgba(112, 72, 163, 0.50);
}

.pink {
    color: #874775;
}

.pink_1 {
    color: #8D4B63;
}

.blue_2 {
    color: rgba(109, 178, 162, 0.60);
}